<nav class="navbar" role="navigation">
  <div class="container">
    <div class="navbar-menu" id="navbarMenu">
      <div class="navbar-center">
        <a class="navbar-item" href="/">Inicio</a>
        <a class="navbar-item" href="/problema">Problema</a>
        <a class="navbar-item" href="/solucao">Solução</a>
        <a class="navbar-item" href="/modos">Modos</a>
        <a class="navbar-item" href="/funcionamento">Como Funciona</a>
        <a class="navbar-item" href="/tech">Tecnologia</a>
        <a class="navbar-item" href="/demo">Demo</a>
        <a class="navbar-item" href="/roadmap">Roadmap</a>
        <a class="navbar-item" href="/resultado">Resultado</a>
        <a class="navbar-item" href="/passos">Próximo Passo</a>
      </div>
    </div>
  </div>
</nav>
